@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: black;
}

.card {
    border: none;
}


hr {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px;
}

.name {
    font-weight: 600;
}

.form-control {
    border-radius: 26px;
    border-width: 0px;
}

.comment-input {
    position: relative;
    border-radius: 0px 0px 6px 12px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;

}

.post-comment {

    height: -webkit-fill-available;
    height: -moz-available;
    width: auto;

    background-color: inherit;
    border-width: 0px;
    border-left-width: 1px;

}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
}